<p>customer works!</p>
<table border="3">
    <thead>
        <tr>
            <th>customerID</th>
            <th>Customer Name</th>
            <th>Bill Amount</th>
            <th>City</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of custList;">
            <td>{{c.custId}}</td>
            <td>{{c.custName}}</td>
            <td>{{c.billAmt}}</td>
            <td>{{c.city}}</td>
            <td>{{c.country}}</td>
        </tr>
    </tbody>
</table>